<div class="alert alert-warning">
    <h4><span class="glyphicon glyphicon-heart"></span> We Support</h4>

    <div style="display: block;width:130pt;height:130pt;margin: 0 auto;float: left;padding:3pt;">
        <a href="http://austriagamejam.org/" class="thumbnail">
            <img ng-src="data/banner/austria_gamejam.png" alt="[Austria GameJam]" class="img-thumbnail">
        </a>
    </div>
    <div style="display: block;width:130pt;height:130pt;margin: 0 auto;float: left;padding:3pt;">
        <a href="http://digitalista.at/" class="thumbnail">
        <img ng-src="data/banner/digitalista.png" alt="[Digitalista]" class="img-thumbnail">
        </a>
    </div>
    <div style="display: block;width:130pt;height:130pt;margin: 0 auto;float: left;padding:3pt;">
        <a href="http://igda.at/" class="thumbnail">
        <img ng-src="data/banner/igda_vienna.png" alt="[IGDA Vienna]" class="img-thumbnail">
        </a>
    </div>
    <div style="display: block;width:130pt;height:130pt;margin: 0 auto;float: left;padding:3pt;">
        <a href="http://www.pixelvienna.com/" class="thumbnail">
        <img ng-src="data/banner/pixel.png" alt="[Pixel]" class="img-thumbnail">
        </a>
    </div>
    <div style="display: block;width:130pt;height:130pt;margin: 0 auto;float: left;padding:3pt;">
        <a href="http://playvienna.com/" class="thumbnail">
        <img ng-src="data/banner/playvienna.png" alt="[Play Vienna]" class="img-thumbnail">
        </a>
    </div>
    <div style="display: block;width:130pt;height:130pt;margin: 0 auto;float: left;padding:3pt;">
        <a href="http://subotron.com/" class="thumbnail">
        <img ng-src="data/banner/subotron.png" alt="[Subotron]" class="img-thumbnail">
        </a>
    </div>
    <div class="clearfix"></div>
</div>