<div class="bgimage"></div>
<div style="position:absolute;left:0;width:100%">
	<div class="container">
		<div style="margin-top:50pt"></div>
		<div class="jumbotron">
			<h1>Welcome to Gamedev.at!</h1>
			<p>Gamedev.at aims to provide the most complete directory of important things related to the austrian game development scene.</p>
			<p>If you encounter any problems or errors, please don't hesitate to contact us at <a href="mailto:info@gamedev.at">info@gamedev.at</a>.</p>
			<p>Have fun .. <i class="fa fa-smile-o"></i></p>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div style="margin-top:470pt"></div>
<div class="page-header">
	<h1></h1>
</div>
<div class="alert alert-info">
	<h4>Random Companies</h4>
	<div class="row">
		<div ng-repeat="company in companiesHighlight" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
			<a href="#/companies/{{company.companyId}}" class="thumbnail">
				<div class="caption" style="overflow: hidden; padding-bottom: 2pt; white-space: nowrap; text-wrap: none; text-overflow: ellipsis;">
					{{company.title}}
				</div>
				<div style="width: 100%; height:200pt;line-height:200pt;overflow:hidden;">
					<img ng-src="data/logos/{{company.image}}" alt="[{{company.title}}]" style="width:100%;display:inline;vertical-align:middle;">
				</div>
			</a>
		</div>
		<div class="clearfix visible-xs"></div>
	</div>
</div>