<div class="panel panel-info">
	<div class="panel-heading">
		<div>
			<span class="lead">{{company.title}}</span>

			<div class="pull-right">
				<a href="{{company.website}}" target="_new" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-globe"></span> Website
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body" style="overflow:hidden;">

		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-3 col-ld-2">
				<div style="height:190pt;margin: 0 auto;">
					<img ng-src="data/logos/{{company.image}}" alt="[Logo {{company.title}}]" class="img-thumbnail">
				</div>
			</div>

			<div class="col-xs-8 col-sm-8 col-md-9 col-ld-10">

				<div class="row">
					<div class="col-xs-5 col-sm-3 col-md-2 col-ld-1">Address</div>
					<div class="col-xs-7 col-sm-9 col-md-10 col-ld-11">{{company.address}}</div>
				</div>

				<div class="row">
					<div class="col-xs-5 col-sm-3 col-md-2 col-ld-1">Website</div>
					<div class="col-xs-7 col-sm-9 col-md-10 col-ld-11">{{company.website}}</div>
				</div>

				<div class="row">
					<div class="col-md-12">{{company.description}}</div>
				</div>

			</div>
		</div>

	</div>
	<div class="panel-footer">
		<div class="pull-right" ng-show="$parent.isAdminmode">
			<a href="#/edit/{{company.companyId}}" class="btn btn-default">Edit</a>
		</div>

		<span class="glyphicon glyphicon-tags"></span>
		<span style="margin:2pt;display:inline-block" ng-repeat="tag in company.tags | orderBy:'toString()'">
			<a href="#/companies/tag/{{tag}}" class="btn btn-success btn-xs">{{tag}}</a>
		</span>

		<div class="clearfix"></div>
	</div>
</div>
