<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">gameDev.at</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-class="getClass('/companies')"><a href="#/companies">Companies</a>
				</li>
				<li ng-class="getClass('/events')"><a href="#/events">Events</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">

				<li ng-class="getClass('/impressum')"><a href="#/impressum">Impressum</a>
				</li>
				<li ng-class="getClass('/data')" ng-show="isAdminmode"><a href="#/data">D</a>
				</li>
			</ul>
		</div>
	</div>
</div>