<div class="page-header">
	<h1 ng-bind-template="Company '{{companyId}}'">Add New Company</h1>
</div>
<form id="newcompanyform" class="form-signin" role="form">

	<div class="form-group">
		<label for="companyId">Id</label>
		<input type="text" id="companyId" class="form-control" placeholder="Id" disabled ng-model="company.companyId">
	</div>

	<div class="form-group">
		<label for="companyTitle">Title</label>
		<input type="text" id="companyTitle" ng-model="company.title" class="form-control" placeholder="Title" required autofocus>
	</div>

	<div class="form-group">
		<label for="companyWebsite">Website</label>
		<input type="url" id="companyWebsite" ng-model="company.website" class="form-control" placeholder="http://" required>
	</div>

	<div class="form-group">
		<label for="companyImage">Image</label>
		<input type="text" id="companyImage" ng-model="company.image" class="form-control" placeholder="img.png" required>
		<p class="help-block">Size 300px x 200px</p>
	</div>

	<div class="form-group">
		<label for="companyDescription">Description</label>
		<textarea class="form-control" rows="4" id="companyDescription" ng-model="company.description"></textarea>
	</div>

	<div class="form-group">
		<label for="companyTags">Tags</label>
		<input type="text" id="companyTags" ng-model="company.tags" ng-list class="form-control" placeholder="Austria, Indie, ...">
	</div>

	<div class="form-group">
		<label for="companyFounded">Founded</label>
		<input type="text" id="companyFounded" ng-model="company.founded" class="form-control" placeholder="2004">
	</div>

	<div class="form-group">
		<label for="wkoId">WKO Id</label>
		<input type="text" id="wkoId" ng-model="company.wkoid" class="form-control" placeholder="">
	</div>

	<h1>Location</h1>

	<div class="form-group">
		<label for="address">Address</label>
		<input type="text" id="address" ng-model="company.address" class="form-control" placeholder="Address">
		<button class="btn btn-default" ng-click="locateAddress()">Geolocate</button>
	</div>

	<div class="form-group">
		<label for="latitude">Latitude</label>
		<input type="text" id="latitude" class="form-control" placeholder="Latitude" ng-model="company.latitude">
	</div>
	<div class="form-group">
		<label for="latitude">Longitude</label>
		<input type="text" id="longitude" class="form-control" placeholder="Longitude" ng-model="company.longitude">
	</div>

	<div class="form-group">
		<div id="map-canvas" style="width:100%;height:400px;" />
	</div>

	<button class="btn btn-primary" ng-click="save(company)">Add</button>
</form>